{% extends 'downloader/base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
<h1 class="regHead">Existing User : LOGIN</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align: center;letter-spacing: 2px;"><b>LOGIN INFORMATION</b></h3>
                    <br>
                    {% if error_message %}
                        <p style="color:red;text-align: center;"><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'downloader:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-sm-offset-3" for="id_username">
                                Username:
                            </label>
                            <div class="col-sm-5">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-sm-offset-3" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-5">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-5">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'downloader:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}